{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id='jumbo' class='jumbotron border border-dark rounded'>
    <h1 class="display-4 text-center py-5">About Me</h1>
    <div class="row">
        <div class="wrapper mb-3">
            <img class="col-6 mx-auto d-block" src="../static/images/enzo.jpg" alt="enzo">
        </div>
        <h5 class="text-center p-5">
        I grew up in upstate New York and graduated from Union College with a degree in Neuroscience.
        I am currently finishing up the curriculum at Springboard, a full-stack coding bootcamp.<br><br>
        
        I'm passionate about constantly improving my skill set and am eager to keep learning.<br>
                
        This past year, I took a cross country road trip with my girlfriend and puppy and we now live in beautiful San Diego. Please feel free to reach out to me!</h5>
    </div>
</div>
{% endblock %}