{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id='jumbo' class='jumbotron border border-dark rounded'>
    <h1 class="text-center py-5">About Me</h1>
    <div class="row">
        <div class="wrapper mb-3">
            <img class="col-6 mx-auto d-block" src="../static/images/enzo.jpg" alt="enzo">
        </div>
        <h5 class="text-center">
        I grew up in upstate New York and graduated from Union College with a degree in Neuroscience.
        I am now a software engineer and have completed Springboard, a full-stack coding bootcamp.<br><br>
        
        I'm passionate about constantly improving my skill set and have developed regimented study habits to continue to grow.
        I’m searching for opportunities that will challenge me to always perform at a high level and continually build on my
        strong foundation.<br><br>
        
        I just finished a cross country road trip with my girlfriend and puppy and we now live in beautiful San Diego. I'd love to hear from you!</h5>
    </div>
</div>
{% endblock %}