{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div class='jumbotron bg-light border border-dark rounded'>
    <h1 class="text-center py-5">About Me</h1>
    <div class="row">
        <img class="col-6" src="../static/images/enzo.jpg" alt="enzo">
    
        <h5 class="col-6 text-center">
        Originally from upstate New York, I graduated college with a degree in Neuroscience and am now a software engineer. After graduating from
        Springboard, a coding bootcamp, I have been developing full-stack projects.<br><br>
        
        I'm passionate about constantly improving my skill set and have developed regimented study habits to continue to grow.
        I’m searching for opportunities that will challenge me to always perform at a high level and continually build on my
        strong foundation.<br><br>
        
        I just finished a cross country road trip with my girlfriend and puppy and we now live in beautiful San Diego. I'd love to hear from you!</h5>
    </div>
</div>
{% endblock %}