{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id="jumbo" class='jumbotron border border-dark rounded'>
    <h1 class="display-4 text-center py-5">Contact</h1>
    <div id="resources" class="text-center border border-dark rounded p-3">
        <i class="fas fa-file mb-3"></i><a href="../static/images/CG.pdf" target="blank"> Resume</a><br>
        <i class="fab fa-github mb-3"></i><a href="https://github.com/Ciro1690" target="blank"> Ciro1690</a><br>
        <i class="fab fa-linkedin mb-3"></i><a href="https://www.linkedin.com/in/ciro-griffiths-49b2a032/" target="blank">
            Linkedin</a><br>
        <i class="fa fa-envelope-o mb-3" aria-hidden="true"></i> Ciro16@gmail.com<br>
    </div>
    <form id="contact-form" class="col-lg-6 offset-lg-3 mt-5" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <div class="row justify-content-center">            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="text-center">
            <button class="btn btn-success mt-3 justify-content-center" type="submit">Send Email</button>
        </div>
    </form>
</div>
{% endblock %}