{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<h1 class="text-center py-5">Education</h1>
<div class="d-flex justify-content-center row">
    <img class="col" src="../static/images/union.jpeg" alt="Union">
    <p class="col text-center">Bachelor's Degree in Neuroscience • Scholar's Program • Magna Cum Laude</p>
</div>
<div class="d-flex justify-content-center row">
    <img class="col" src="../static/images/springboard.png" alt="Springboard">
    <p class="col align-middle text-center">700+ hours of hands-on course material, with 1:1 industry expert mentor oversight, and
    completion of 4 in-depth portfolio projects. Mastered skills in ​front-end web development, back-end web
    development, databases, and data structures and algorithms.</p>
</div>
{% endblock %}