{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<h1 class="text-center py-5">Education</h1>
<div class="d-flex justify-content-center row mb-5">
    <img class="col" src="../static/images/union.jpeg" alt="Union">
    <p class="col text-center">• Bachelor's Degree in Neuroscience<br>• Scholar's Program<br>• Magna Cum Laude</p>
</div>
<div class="d-flex justify-content-center row">
    <img class="col" src="../static/images/springboard.png" alt="Springboard">
    <p class="col align-middle text-center">• 700+ hours software engineering bootcamp with 
    completion of 4 in-depth portfolio projects. <br><br>• Mastered skills in ​front-end and back-end web
    development, databases, data structures and algorithms.</p>
</div>
{% endblock %}