{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 pt-5">
                <div id='jumbo' class='jumbotron border border-dark rounded'>
                    <div class="text-center">
                        <h1>Welcome!</h1>
                        <img class="self-photo" src="../static/images/professional.jpg" alt="self">

                        <p>I am a software engineer who specializes in building high-quality, responsive websites.</p><br>
                        <p>Front-end: Javascript, Python, React, AJAX, Ruby, API integration, Responsive Design</p>
                        <p>Back-end: Flask, Nodejs, Ruby on Rails</p>
                        <p>Database: SQL, PostgreSQL, SQL Alchemy</p>
                        <p>Git, Heroku</p>
                    </div>
                </div>
    </div>
{% endblock %}