{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 pt-5">
                <div class='jumbotron border border-dark rounded'>
                    <div class="text-center">
                        <h1>Welcome!</h1>
                        <img class="self-photo" src="../static/images/professional.jpg" alt="self">

                        <p>Ciro is a software engineer who specializes in building high-quality, responsive websites.</p>
                        <p>This past year, he went on a cross country road trip with his girlfriend and puppy. They spent the summer in Colorado and just settled down in San Diego.</p>
                        <p>He'd love to hear from you!</p>
                    </div>
                </div>
    </div>
{% endblock %}