{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 pt-5">
            <div id='jumbo' class='jumbotron border border-dark rounded'>
                <div class="text-center">
                    <h1 class="display-4">Welcome!</h1>
                    <h4>I am a full-stack software engineer who specializes in building high-quality, responsive websites.</h4><br>
                    <img class="self-photo" src="../static/images/self2.jpeg" alt="self">

                    <h3>Front-end</h3> 
                    <h5>Javascript, Python, React, AJAX, Ruby, Responsive Design</h5>
                    <h3>Back-end</h3> 
                    <h5>Flask, Nodejs, API Integration, Ruby on Rails</h5>
                    <h3>Database</h3>
                    <h5>SQL, PostgreSQL, SQL Alchemy</h5>
                    <h3>Deployment</h3>
                    <h5>Git, Heroku</h5>
                </div>
            </div>
        </div>
        {% endblock %}