{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id='jumbo' class='jumbotron border border-dark rounded'>
    <h1 class="text-center py-5">Projects</h1>
    <div class="row text-center mb-5">
        <a class="col" href="https://sundialpantry.herokuapp.com/" target="blank"><img id="sundial" class="border border-dark rounded mx-auto mb-3" src="../static/images/sundial.png" alt="sundial"></a>
        <div class="col align-middle">
            <h3>Local Farmer's Market Website</h3>
            <h5>Skills used: Python, Flask</h5>
            <a class="mr-2" href="https://github.com/Ciro1690/Sundialpantry" target="blank">Github</a>
            <a href="https://sundialpantry.herokuapp.com/" target="blank">Live Site</a>
        </div>
    </div>

    <div class="row text-center mb-5">
        <a class="col" href="https://ciro1690.github.io/Connect4/" target="blank"><img class="border border-dark rounded mx-auto mb-3" src="../static/images/Connect4.gif" alt="Connect4"></a>
        <div class="col align-middle">
            <h3>Interactive Connect 4 Game</h3>
            <h5>Skills used: Javascript, HTML, CSS</h5>
            <a class="mr-2" href="https://github.com/Ciro1690/Connect4" target="blank">Github</a>
            <a href="https://github.com/Ciro1690/Connect4" target="blank">Live Site</a>
        </div>
    </div>

    <div class="row text-center">
        <a class="col" href="https://ciro-blog-app.herokuapp.com/" target="blank"><img class="border border-dark rounded mx-auto mb-3" src="../static/images/blog.png" alt="Blogly"></a>
        <div class="col align-middle">
            <h3>Blogging App</h3>
            <h5>Skills used: Python, Flask</h5>
            <a class="mr-2" href="https://github.com/Ciro1690/Blogly" target="blank">Github</a>
            <a href="https://ciro-blog-app.herokuapp.com/" target="blank">Live Site</a>
        </div>
    </div>
    {% endblock %}