{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<h1 class="text-center py-5">Recent Work</h1>
<h3>Games</h3>
    <section class="row">
        <article class="col">
            <a href="https://ciro1690.github.io/Connect4/" target="blank"><img src="../static/images/connect4.png" alt="Connect4"></a>
        </article>
        <article class="col">
            <a href="https://github.com/Ciro1690/Boggle-Flask" target="blank"><img src="../static/images/boggle.jpg" alt="Boggle"></a>
        </article>
        <hr>
    </section>
    <h3>Blog App</h3>
    <section class="row">
        <article class="col">
            <a href="https://ciro-blog-app.herokuapp.com/users" target="blank"><img src="../static/images/blog.png" alt="Blog"></a>
        </article>
    </section>
    {% endblock %}