{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id='jumbo' class='jumbotron border border-dark rounded'>
    <h1 class="display-4 text-center py-5">Projects</h1>

    <div class="projects text-center mb-5">
        <a href="https://recipebox-capstone.herokuapp.com/" target="blank"><img id="recipebox" class="border border-dark img-fluid rounded mx-auto mb-3" src="../static/images/RecipeBox.png" alt="RecipeBox"></a>
        <div>
            <div>
                <h3>RecipeBox</h3>
                <h3>Recipe Search App</h3>
                <h5>Skills used: Python, Flask, Javascript, SQL</h5>
                <a class="mr-2" href="https://github.com/Ciro1690/Capstone-1" target="blank">Github</a>
                <a href="https://recipebox-capstone.herokuapp.com/" target="blank">Live Site</a>
            </div>
        </div>
    </div>

    <div class="projects text-center mb-5">
        <a href="https://sundialpantry.herokuapp.com/" target="blank"><img id="sundial"
                class="border border-dark img-fluid rounded mx-auto mb-3" src="../static/images/sundial.png" alt="sundial"></a>
        <div>
            <div>
                <h3>Sundial Pantry</h3>
                <h3>Farmer's Market Website</h3>
                <h5>Skills used: Python, Flask</h5>
                <a class="mr-2" href="https://github.com/Ciro1690/Sundialpantry" target="blank">Github</a>
                <a href="https://sundialpantry.herokuapp.com/" target="blank">Live Site</a>
            </div>
        </div>
    </div>

    <div class="projects text-center mb-5">
        <a href="https://ciro-blog-app.herokuapp.com/" target="blank"><img id="blogly" class="border border-dark img-fluid rounded mx-auto mb-3" src="../static/images/blogly.png" alt="Blogly"></a>
        <div>
            <div>
                <h3>Everyone's a Critic</h3>
                <h3>Media Review App</h3>
                <h5>Skills used: Python, Flask, SQL</h5>
                <a class="mr-2" href="https://github.com/Ciro1690/Blogly" target="blank">Github</a>
                <a href="https://ciro-blog-app.herokuapp.com/" target="blank">Live Site</a>
            </div>
        </div>
    </div>
    {% endblock %}