{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<h1 class="text-center py-5">Skills</h1>
    <div class="row">
        <img class="col-3 img-fluid" src="../static/images/js.png" alt=js />
        <img class="col-3 img-fluid" src="../static/images/node.png" alt=nodejs />
        <img class="col-3 img-fluid" src="../static/images/react2.png" alt=react />
        <img class="col-3 img-fluid" src="../static/images/python.jpg" alt=python />
    </div>
    <div class="row">
        <img class="col-3 img-fluid" src="../static/images/flask.png" alt=flask />
        <img class="col-3 img-fluid" src="../static/images/html.png" alt=html />
        <img class="col-3 img-fluid" src="../static/images/css2.png" alt=css />
        <img class="col-3 img-fluid" src="../static/images/ruby.jpg" alt=ruby />
    <div class="row">
    </div>
        <img class="col-3 img-fluid" src="../static/images/rails.png" alt=rails />
        <img class="col-3 img-fluid" src="../static/images/jquery.jpeg" alt=jquery />
        <img class="col-3 img-fluid" src="../static/images/sql.jpeg" alt=sql />
        <img class="col-3 img-fluid" src="../static/images/postgresql.png" alt=postgresql />
    </div> </br>
    <h3 class="text-center">Javascript • Nodejs • React • Python • Flask • HTML</h3>
    <h3 class="text-center">CSS • Ruby • Ruby on Rails • JQuery •SQL • PostgreSQL</h3>
    <hr>
{% endblock %}