{% extends 'base.html' %}
{% block title %}Ciro Griffiths{% endblock %}
{% block content %}
<div id='jumbo' class='jumbotron border border-dark rounded'>
<h1 class="display-4 text-center py-3">Skills</h1>
<div id="skills-bg" class="container border border-dark rounded mb-3 p-3">
    <div class="row">
        <img class="skills mx-auto d-block" src="../static/images/js.png" alt=js />
        <img class="skills mx-auto d-block" src="../static/images/node.png" alt=nodejs />
        <img class="skills mx-auto d-block" src="../static/images/react2.png" alt=react />
        <img class="skills mx-auto d-block" src="../static/images/python.jpg" alt=python />
        <img class="skills mx-auto d-block" src="../static/images/flask.png" alt=flask />
        <img class="skills mx-auto d-block" src="../static/images/html.png" alt=html />
    </div>
    <div class="row">
        <img class="skills mx-auto d-block" src="../static/images/css2.png" alt=css />
        <img class="skills mx-auto d-block" src="../static/images/ruby.jpg" alt=ruby />
        <img class="skills mx-auto d-block" src="../static/images/rails.png" alt=rails />
        <img class="skills mx-auto d-block" src="../static/images/jquery.jpeg" alt=jquery />
        <img class="skills mx-auto d-block" src="../static/images/sql.jpeg" alt=sql />
        <img class="skills mx-auto d-block" src="../static/images/postgresql.png" alt=postgresql />
    </div> </br>
</div>
    <h3 class="text-center">Javascript • Nodejs • React • Python • Flask • HTML</h3>
    <h3 class="text-center">CSS • Ruby • Ruby on Rails • JQuery •SQL • PostgreSQL</h3>
</div>
<div id='jumbo' class='jumbotron border border-dark rounded'>
    <h1 class="display-4 text-center py-3">Education</h1>
        <img id="education" class= "mx-auto d-block border border-dark rounded" src="../static/images/union.jpeg" alt="Union">
        <h5 class="text-center m-3">• Bachelor's Degree in Neuroscience <br>• Scholar's Program <br>• Magna Cum Laude</h5>
        <img id="education" class= "mx-auto d-block border border-dark rounded" src="../static/images/springboard.png" alt="Springboard">
        <h5 class="text-center m-3">• 700+ hours software engineering bootcamp <br><br>• Mastered skills in ​front-end and back-end web
            development, databases, data structures and algorithms.</h5>
</div>
{% endblock %}